# Created at build time
build/
out/

#Created by intellij
*.iml
.idea/

#Created by the atlassian plugin
atlassian-ide-plugin.xml

#Created by JavaScript build tools
node_modules/
bower_components/
npm-debug.log

#Created by JavaScript test tools
coverage/
reports
jsdoc

#Created by Grunt to support require.js path lookup for coffee script files
src/app/scripts/init.js
src/app/scripts/init.js.map


.DS_Store
