# Created at build time
build/
out/

#Created by the atlassian plugin
atlassian-ide-plugin.xml

#Created by JavaScript build tools
node_modules/
bower_components/
npm-debug.log

#Created by JavaScript test tools
coverage/
reports
jsdoc


.DS_Store
