<h2 class="page-headline">Button Component</h2>
<p>
    The <code>Button</code> component can be used to bind a callback to a buttons click event.
    To connect the component with the markup its <code>component-id</code> has to be set on an according HTML tag.
    <br /><br />
    Usage: <code> new Button(componentId, callback) </code>
<ul>
    <li>
        The 1st parameter is the the component identifier.
    </li>
    <li>
        The 2nd parameter is the callback to be executed on the click event.
    </li>
</ul>
</p>

<div class="panel panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Example</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>Example</legend>
                <div>
                    <button class="btn btn-default btn-raised" component-id="button">Click Me</button>
                </div>
                <em>Button was clicked: <label component-id="label"></label> times.</em>
            </fieldset>
        </form>
    </div>
</div>

<!-- @formatter:off -->
<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Code</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-coffeescript">
    class ButtonItemView extends Backbone.Marionette.Component.ItemView

        initialize: ->
            @model = new Backbone.Model counter: 0

            @add new Button 'button', @onButtonClick
            @add new Label 'label', 'counter', @model

        onButtonClick: (e) ->
            e.preventDefault()
            @model.set 'counter', @model.get('counter') + 1
</code>
</pre>
    </div>
</div>


<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Markup</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-markup">
    &lt;button class=&quot;btn btn-default btn-raised&quot; component-id=&quot;button&quot;&gt;Click Me&lt;/button&gt;
</code>
</pre>
    </div>
</div>
<!-- @formatter:on -->
