<h2 class="page-headline">Checkbox Component</h2>
<p>
    The <code>Checkbox</code> component can be used to toggle a boolean value on a model.
    To connect the component with the markup its <code>component-id</code> has to be set on an according HTML tag.
    <br /><br />
    Usage: <code> new Checkbox(componentId, modelProperty, model) </code>
<ul>
    <li>
        The 1st parameter is the the component identifier.
    </li>
    <li>
        The 2nd parameter is the key of the model property it should be bound to.
    </li>
    <li>
        The 3rd parameter is the model bound to the component
    </li>
</ul>
</p>


<div class="panel panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Example</div>
    </div>
    <div class="panel-body">
        <form class="form">
            <fieldset>
                <legend>Example</legend>
                <div class="form-group">
                    <div class="checkbox checkbox-material-deeppurple">
                        <label>
                            <input component-id="checkboxApple" type="checkbox" name="fruits" value="apple">
                            Apple
                        </label>
                        <em>Checked:<strong component-id="labelApple"></strong></em>
                    </div>
                    <div class="checkbox checkbox-material-deeppurple">
                        <label>
                            <input component-id="checkboxOrange" type="checkbox" name="fruits" value="orange">
                            Orange
                        </label>
                        <em>Checked: <strong component-id="labelOrange"></strong></em>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- @formatter:off -->
<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Code</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-coffeescript">
    class CheckboxItemView extends Backbone.Marionette.Component.ItemView

        initialize: ->
            @add new Checkbox 'checkboxApple', 'isChecked', new Backbone.Model isChecked: true
            @add new Checkbox 'checkboxOrange', 'isChecked', new Backbone.Model isChecked: false

</code>
</pre>
    </div>
</div>


<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Markup</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-markup">
    &lt;input component-id=&quot;checkboxApple&quot; type=&quot;checkbox&quot; name=&quot;fruits&quot; value=&quot;apple&quot;&gt; Apple
    &lt;input component-id=&quot;checkboxOrange&quot; type=&quot;checkbox&quot; name=&quot;fruits&quot; value=&quot;orange&quot;&gt; Orange
</code>
</pre>
    </div>
</div>
<!-- @formatter:on -->

