<h2 class="page-headline">CompositeView Component</h2>
<p>
    The CompositeView Component can be used to ...
</p>

<div class="panel panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Example</div>
    </div>
    <div class="panel-body">
        <form>
            <fieldset>
                <legend>Example</legend>
                <div id="content"></div>
            </fieldset>
        </form>
    </div>
</div>

<!-- @formatter:off -->
<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Code</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-coffeescript">
    class TextFieldItemView extends Backbone.Marionette.Component.ItemView
        initialize: ->
            @add new TextField 'textfield', 'name', @model

    class TextFieldCompositeView extends Backbone.Marionette.CompositeView
        childView: TextFieldItemView
        childViewContainer: '#formContent'

    do ->
        # Initialize collection and composite view
        collection = new Backbone.Collection [
            { id:1, name: 'David' }
            { id:2, name: 'Thomas' }
            { id:3, name: 'Markus' }
        ]

        view = new TextFieldCompositeView collection: collection
        view.render()
</code>
</pre>
    </div>
</div>

<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Markup</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-markup">
    &lt;!-- CompositeViw --&gt;
    &lt;strong&gt;List of Names&lt;/strong&gt;
    &lt;div id='formContent'&gt;&lt;/div&gt;

    &lt;!-- ItemView --&gt;
    &lt;input class=&quot;form-control&quot; component-id=&quot;textfield&quot; placeholder=&quot;Name&quot;&gt;
</code>
</pre>
    </div>
</div>
<!-- @formatter:on -->
