<h2 class="page-headline">Dropdown Component</h2>
<p>
    The <code>Dropdown</code> component can be used to display a list of values and bind the selection of a single one to the model.
    The collection containing the dropdown choices needs to have the model properties <code>text</code> and <code>value</code> set.
    To connect the component with the markup its <code>component-id</code> has to be set on an according HTML tag.
    <br /><br />
    Usage: <code> new Dropdown(componentId, modelProperty, model, collection) </code>
<ul>
    <li>
        The 1st parameter is the the component identifier.
    </li>
    <li>
        The 2nd parameter is the key of the model property it should be bound to.
    </li>
    <li>
        The 3rd parameter is the model bound to the component
    </li>
    <li>
        The 4th parameter is the collection containing the values for the dropdown choices
    </li>
</ul>
</p>


<div class="panel panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Example</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>Example</legend>
                <select component-id="fruitChoice" name="fruitChoices" class="form-control"/>
                <em>
                    Selected Value:
                    <label component-id="fruitValue" />
                </em>
            </fieldset>
        </form>
    </div>
</div>

<!-- @formatter:off -->
<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Code</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-coffeescript">
    class DropdownItemView extends Backbone.Marionette.Component.ItemView

        initialize: ->
            model = new Backbone.Model fruit: '2'

            collection = new Backbone.Collection [
              value: '1', text: 'Orange'
            ,
              value: '2', text: 'Apple'
            ,
              value: '3', text: 'Banana'
            ]

            @add new Dropdown 'fruitChoice', 'fruits', model, collection
</code>
</pre>
    </div>
</div>


<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Markup</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-markup">
    &lt;select component-id=&quot;fruitChoice&quot; name=&quot;fruitChoices&quot;&gt;
</code>
</pre>
    </div>
</div>
<!-- @formatter:on -->
