<h2 class="page-headline">Form Component with validation</h2>
<p>
    The Form component can be used with validations
</p>

<div class="panel panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Example</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-7">
                <form class="form-horizontal" role="form" component-id="formComponent">
                    <fieldset>
                        <legend>Person Data</legend>

                        <div class="form-group form-group-material-purple">
                            <label for="name" class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-10">
                                <input component-id="nameComponent" id="name" type="text" class="form-control">
                            </div>

                            <div class="col-sm-offset-2 col-sm-10">
                                <div component-id="nameFeedbackPanel"></div>
                            </div>
                        </div>

                        <div class="form-group form-group-material-purple">
                            <label for="email" class="col-sm-2 control-label">E-Mail</label>

                            <div class="col-sm-10">
                                <div class="form-control-wrapper ">
                                    <input component-id="emailAddressComponent" id="email" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-offset-2 col-sm-10">
                                <div component-id="emailAddressFeedbackPanel"></div>
                            </div>
                        </div>

                        <div class="form-group form-group-material-purple">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-default btn-raised" type="submit" component-id="submitButtonComponent">
                                    Submit
                                </button>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
            <div class="col-sm-5">
                <div class="legend">Model Data</div>
               <!-- @formatter:off -->
                <pre><code id="formOutput">Submit the form to see results</code></pre>
                <!-- @formatter:on -->

                </div>
            </div>
        </div>
    </div>
</div>

<!-- @formatter:off -->
<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Code</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-coffeescript">
    class FormItemView extends Backbone.Marionette.Component.ItemView

        ui:
            formOutput: '#formOutput'

        initialize: ->
            # Initialize person model
            @personModel = new Backbone.Model
                name: 'A too long name'
                email: 'david-???@gmail.com'


            # Create form and add components
            form = new Form 'formComponent',
                onSubmit: =>
                    @ui.formOutput.text JSON.stringify @personModel.toJSON(), null, 4
                onError: =>
                    @ui.formOutput.text 'Invalid Input'

            # Create text component and add validators
            textFieldComponent = new TextField 'nameComponent', 'name', @personModel
            textFieldComponent.add new StringValidator::minimumLength 2
            textFieldComponent.add new StringValidator::maximumLength 5

            # Create email component and add validators
            emailAddressComponent = new TextField 'emailAddressComponent', 'email', @personModel
            emailAddressComponent.add new EmailAddressValidator

            # Add all components to the form
            form.add emailAddressComponent
            form.add textFieldComponent
            form.add new SubmitButton 'submitButtonComponent'

            # Add components to the page
            @add form

            # Add feedback panels for form validation to the page
            @add new FeedbackPanel 'nameFeedbackPanel', textFieldComponent
            @add new FeedbackPanel 'emailAddressFeedbackPanel', emailAddressComponent

        onButtonClick: (e) ->
            e.preventDefault()
            @ui.formOutput.text JSON.stringify @personModel.toJSON(), null, 4

</code>
</pre>
    </div>
</div>


<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Markup</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-markup">
    &lt;form component-id=&quot;formComponent&quot;&gt;

        &lt;input component-id=&quot;nameComponent&quot; id=&quot;name&quot; type=&quot;text&quot; &gt;

        &lt;div component-id=&quot;nameFeedbackPanel&quot; &gt; &lt;/ div &gt;

        &lt;input component-id=&quot;emailAddressComponent&quot; id=&quot;name&quot; type=&quot;text&quot; &gt;

        &lt;div component-id=&quot;emailAddressFeedbackPanel&quot; &gt; &lt;/ div &gt;

        &lt;button component-id=&quot;buttonComponent&quot;&gt; Submit &lt;/button&gt;

    &lt;/form&gt;
</code>
</pre>
    </div>
</div>
<!-- @formatter:on -->
