<h2 class="page-headline">ItemView Component</h2>
<p>
    The ItemView Component can be used to ...
</p>

<div class="panel panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Example</div>
    </div>
    <div class="panel-body">
        <form>
            <fieldset>
                <legend>Example</legend>
                <div id="content"></div>
            </fieldset>
        </form>
    </div>
</div>

<!-- @formatter:off -->
<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Code</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-coffeescript">
    class TextFieldItemView extends Backbone.Marionette.Component.ItemView
        initialize: ->
            @add new TextField 'textfield', 'name', @model

    do ->
        model = new Backbone.Model name: 'David'

        view  = new TextFieldItemView model: model
        view.render()
</code>
</pre>
    </div>
</div>

<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Markup</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-markup">
    &lt;input class=&quot;form-control&quot; component-id=&quot;textfield&quot; placeholder=&quot;Name&quot;&gt;
</code>
</pre>
    </div>
</div>
<!-- @formatter:on -->
