<h2 class="page-headline">Label Component</h2>
<p>
    The Label Component can be used to ...
</p>

<div class="panel panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Example</div>
    </div>
    <div class="panel-body">
        <form>
            <legend>Example</legend>
            <p>
                <span component-id="message1"></span>
            </p>

            <p>
                <span component-id="message2"></span>
            </p>
        </form>
    </div>
</div>

<!-- @formatter:off -->
<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Code</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-coffeescript">
  class LabelItemView extends Backbone.Marionette.Component.ItemView

    initialize: ->
        @add(new Label("message1", "Hello World"))
        @add(new Label("message2", "message", new Backbone.Model(message: "Hi Human!")))
</code>
</pre>
    </div>
</div>

<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Markup</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-markup">
    &lt;span component-id=&quot;message1&quot;&gt;&lt;/span&gt;
    &lt;span component-id=&quot;message2&quot;&gt;&lt;/span&gt;
</code>
</pre>
    </div>
</div>
<!-- @formatter:on -->
