<h2 class="page-headline">RadioButton Component</h2>
<p>
    The RadioButton Component can be used to ...
</p>


<div class="panel panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Example</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>Example</legend>
                <div class="radio radio-matieral-purple">
                    <input component-id="radioButtonGender" type="radio" name="genders">
                </div>
                <em>Selected Vaue: <strong component-id="labelGender"></strong></em>
            </fieldset>
        </form>
    </div>
</div>

<!-- @formatter:off -->
<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Code</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-coffeescript">
    class RadioButtonItemView extends Backbone.Marionette.Component.ItemView

        initialize: ->
          model = new Backbone.Model gender: 'm'

          collection = new Backbone.Collection [
            value: 'm', text: 'Male'
          ,
            value: 'f', text: 'Female'
          ]

          @add new RadioButton 'radioButtonGender', 'gender', model, collection
</code>
</pre>
    </div>
</div>


<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Markup</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-markup">
    &lt;input component-id=&quot;radioButtonGender&quot; type=&quot;radio&quot; name=&quot;gender&quot;&gt;
</code>
</pre>
    </div>
</div>
<!-- @formatter:on -->
