<h2 class="page-headline">RadioButton Component</h2>
<p>
    The RadioButton Component can be used to ...
</p>

<br/>

<div class="well">
    <form class="form-horizontal" role="form">
        <fieldset>
            <legend>Example</legend>
            <input component-id="radioButtonGender" type="radio" name="genders">
        </fieldset>
    </form>
</div>

<!-- @formatter:off -->
<h3 class="page-subline">Code</h3>
<pre>
<code class="language-coffeescript">
    class RadioButtonItemView extends Backbone.Marionette.Component.ItemView

        initialize: ->
          model = new Backbone.Model(gender: 'm')
          collection = new Backbone.Collection([
            value: 'm', text: 'Male'
          , value: 'f', text: 'Female'
          ])

          @add(new RadioButton('radioButtonGender', 'gender', model, collection))
</code>
</pre>

<h3 class="page-subline">Markup</h3>
<pre>
<code class="language-markup">
    &lt;input component-id=&quot;radioButtonGender&quot; type=&quot;radio&quot; name=&quot;gender&quot;&gt;
</code>
</pre>
<!-- @formatter:on -->
