<h2 class="page-headline">RadioButton Component</h2>
<p>
    The <code>RadioButton</code> component can be used to display a list and bind update the selection on the model.
    The collection containing the radio button choices needs to have the model properties <code>text</code> and <code>value</code> set.
    To connect the component with the markup its <code>component-id</code> has to be set on an according HTML tag.
    <br /><br />
    Usage: <code> new RadioButton(componentId, modelProperty, model, collection) </code>
<ul>
    <li>
        The 1st parameter is the the component identifier.
    </li>
    <li>
        The 2nd parameter is the key of the model property it should be bound to.
    </li>
    <li>
        The 3rd parameter is the model bound to the component
    </li>
    <li>
        The 4th parameter is the collection containing the values for the radio button choices
    </li>
</ul>
</p>


<div class="panel panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Example</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>Example</legend>
                <div class="radio radio-matieral-purple">
                    <input component-id="radioButtonGender" type="radio" name="genders">
                </div>
                <em>Selected Vaue: <strong component-id="labelGender"></strong></em>
            </fieldset>
        </form>
    </div>
</div>

<!-- @formatter:off -->
<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Code</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-coffeescript">
    class RadioButtonItemView extends Backbone.Marionette.Component.ItemView

        initialize: ->
          model = new Backbone.Model gender: 'm'

          collection = new Backbone.Collection [
            value: 'm', text: 'Male'
          ,
            value: 'f', text: 'Female'
          ]

          @add new RadioButton 'radioButtonGender', 'gender', model, collection
</code>
</pre>
    </div>
</div>


<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Markup</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-markup">
    &lt;input component-id=&quot;radioButtonGender&quot; type=&quot;radio&quot; name=&quot;gender&quot;&gt;
</code>
</pre>
    </div>
</div>
<!-- @formatter:on -->
