<h2 class="page-headline">TextArea Component</h2>
<p>
    The TextArea Component can be used to ...
</p>


<div class="panel panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Example</div>
    </div>
    <div class="panel-body">
    <form class="form-horizontal" role="form">
        <fieldset>
            <legend>Example</legend>
            <div class="form-group">
                <label for="comment" class="col-lg-2 control-label">Comment</label>

                <div class="col-lg-10">
                    <div class="form-control-wrapper">
                        <textarea class="form-control" component-id="textareaComponent" id="comment" placeholder="Comment"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Actual Value</label>

                <div class="col-lg-10">
                    <div class="form-control-wrapper">
                        <span component-id="label"></span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</div>

<!-- @formatter:off -->
<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Code</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-coffeescript">
    class TextAreaItemView extends Backbone.Marionette.Component.ItemView

        initialize: ->
            @add new TextArea 'textareaComponent', 'comment', new Backbone.Model comment: 'This is my first comment ...'
</code>
</pre>
    </div>
</div>

<div class="panel panel-code panel-material-purple">
    <div class="panel-heading">
        <div class="panel-title">Markup</div>
    </div>
    <div class="panel-body">
<pre>
<code class="language-markup">
    &lt;label for=&quot;inputName&quot;&gt;Name&lt;/label&gt;
    &lt;textarea component-id=&quot;textareaComponent&quot; id=&quot;comment&quot; placeholder=&quot;Comment&quot;&gt;&lt;/textarea&gt;
</code>
</pre>
    </div>
</div>
<!-- @formatter:on -->
