<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-6 text-center">
            <img src="images/logo.svg" width="350" height="344">
            <p class="lead">Based on Apache Wicket and Marionette.js</p>
        </div>
        <div class="col-lg-6">
            <div class="well infobox">


                <p>
                    <em>Backbone.Marionette.Component</em> is an extension library for Marionette.js which lets you use web components for handling forms.
                </p>

                <p>
                    If you like this project you can support me by starring this repository, or
                    <a href="https://github.com/exaptis/backbone.marionette.component/issues">reporting bugs and ideas</a>.
                </p>

                <p>
                    Read more about <em>Marionette.Component for Backbone</em>
                    <a href="https://github.com/exaptis/backbone.marionette.component">at the Github page</a>.
                </p>

                <a href="https://github.com/exaptis/backbone.marionette.component/archive/master.zip"
                   class="btn btn-sup btn-info withripple">
                    <i class="fa fa-download"></i>
                    <span>DOWNLOAD</span>

                    <div class="ripple-wrapper"></div>
                </a>
                <a href="https://github.com/exaptis/backbone.marionette.component/issues"
                   class="btn btn-sup btn-danger withripple">
                    <i class="fa fa-warning"></i>
                    <span>ISSUES</span>

                    <div class="ripple-wrapper"></div>
                </a>
            </div>
        </div>
    </div>
</div>
